@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --primary-color: #0a0a0a; /* Darker background color */
  --accent-color: #6a0dad; /* Purple Highlight */
  --text-color: #f0f0f0;
  --button-bg-color: #6a0dad;
  --button-hover-color: #8e44ad;
  --button-text-color: #ffffff;
  --footer-bg-color: #0a0a0a;
  --footer-text-color: #f0f0f0;
  --link-color: #00d2ff;
  --footer-link-color: #f0f0f0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

html, body {
  height: 100%; /* Ensures full height of the page */
  margin: 0;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-size: 16px;
  display: flex;
  flex-direction: column;
}

.App {
  text-align: center;
  flex: 1; /* Makes .App take up available space */
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--primary-color);
}

h1 {
  font-size: 90px !important;
  margin-bottom: 15px;
  background: linear-gradient(90deg, var(--accent-color), var(--link-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

/* Navbar styling */
.navbar {
  width: 100%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 700px;
  position: relative;
}

.logo {
  font-size: 50px;
  background: linear-gradient(90deg, var(--accent-color), var(--link-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-link {
  color: var(--text-color);
  text-decoration: none;
  font-size: 20px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: var(--link-color);
}

.video-container {
  margin: 40px auto;
  max-width: 640px;
  width: 100%;
}

video {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

button {
  font-size: 18px;
  padding: 10px 25px;
  margin-top: 20px;
  cursor: pointer;
  background: linear-gradient(90deg, var(--accent-color), var(--link-color));
  color: var(--button-text-color);
  border: none;
  border-radius: 30px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--button-hover-color);
}

.prediction {
  margin-top: 20px;
  background-color: #333;
  padding: 15px 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

.prediction h2, .prediction p {
  color: var(--text-color);
  margin: 0;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
}

.error {
  color: red;
  margin-top: 10px;
}

/* Footer */
.footer {
  width: 100%;
  background-color: var(--footer-bg-color);
  padding: 15px;
  color: var(--footer-text-color);
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
}

.footer-left {
  text-align: left;
}

.footer-right {
  text-align: right;
}

.footer a {
  color: var(--footer-link-color);
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
